{% extends "base.html" %}

{% block content %}
    <h1>Go Racing here</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.track_select.label }}<br>
            {{ form.track_select }}
            {% for error in form.track_select.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.car_select.label }}<br>
            {{ form.car_select }}
            {% for error in form.tyre_select.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.tyre_select.label }}<br>
            {{ form.tyre_select }}
            {% for error in form.tyre_select.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}